body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  margin: 20px auto;
  width: 80%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.colsecond {
  width: 50%;
  margin: 0 0em 2em 0em;
  padding-top: 3em;
  float: left;


}
.colsecond img {
  width: 100%;
}
.colfirst {
  width: 25%;
  margin: 0 0 0 0;
  padding: 3em 2em 0 2em;
  float: left;
  background-color: pink;

}
.colthird {
  width: 25%;
  margin: 0 0 0 0;
  padding: 3em 4em 0 0;
  float: left;
  background-color: pink;
}
header {
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid black;
  position:relative;

}
header span {
  text-align:left;
  display:block;
}
.features {
  background-color: white;
  position:absolute;
  z-index: 999;
  bottom: -1%;
  padding-right: 10px;
}

header h1 {
  border-top: 1px solid black;
  margin: 5px 0;
}
  header h1 span {
  display: inline-block;
  position: relative;
}
header h1 span:before,header h1 span:after  {
  content:"";
  border-top: 5px solid black;
  display: block;
  position: absolute;
  top: 20px;
  width: 9999px;
}
header h1 span:before {
  right: 100%;
  margin-right: 5px;
}
header h1 span:after {
 margin-left: 5px;
 left: 100%;
}
