body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  margin: 20px auto;
  width: 80%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

.colsecond {
  width: 50%;
  margin: 0em 0em 0em 0em;
  padding-top: 3em 2em 0em 2em;
  float: left;
  box-sizing: border-box;


}
.colsecond img {
  width: 100%;
}
.colfirst {
  width: 25%;
  height: 600px;
  margin: 0 0 0 0;
  padding: 3em 2em 0 2em;
  float: left;
  background-color: pink;
  box-sizing: border-box;

}
.colthird {
  width: 25%;
  margin: 0 0 0 0;
  padding: 3em 4em 0 2em;
  float: left;
  background-color: pink;
  box-sizing: border-box;
}

.lower-section {
border-left: 1px dashed gray;
border-top: 1px dashed gray;
border-right: 1px dashed gray;
border-bottom: 20px solid black;
}
.lower-section-heading {
  text-align: center;
}
.lower-section-article {
float: left;
width: 33.33%;
padding: 8px 35px;
min-height: 180px;
border-right: 1px dashed gray;
text-align: center;
font-size: .9em;
}
.footer-section-one {
  float: left;
}
.footer-section-two {
  float:right;
}
.footer-section-three {
  float:right;
}
header {
  text-align: center;
  overflow: hidden;
  position:relative;

}
header span {
  text-align:left;
  display:block;
}
.features {
  background-color: white;
  position:absolute;
  z-index: 999;
  bottom: -1%;
  padding-right: 10px;
}
.features:after {
content:"";
border-top: 1px solid black;
display: block;
position: absolute;
margin-left: 5px;
left: 100%;
top:13px;
width: 9999px;
}

header h1 {
  border-top: 1px solid black;
  margin: 5px 0;
}
  header h1 span {
  display: inline-block;
  position: relative;
}
header h1 span:before,header h1 span:after  {
  content:"";
  border-top: 5px solid black;
  display: block;
  position: absolute;
  top: 20px;
  width: 9999px;
}
header h1 span:before {
  right: 100%;
  margin-right: 5px;
}
header h1 span:after {
 margin-left: 5px;
 left: 100%;
}
